header{
    background-color: gray;
}

.nome{
    font-size: 25px;
    display: flex;
    justify-content: end;
}
 
.palavras-div{
    background-color: #D9D9D9;
    border-radius: 7px;
    margin-top: 30px;
    width: 20vw;
    height: 10vh;
}
 
.palavra{
    font-size: 20px;
   
}
 
.palavra{
    font-size: 27px;
    padding-top: 2.5vh;
    margin-left: 10px;
}

.teste{
    display: flex;
    justify-content: space-around;
    height: 550px;
}


.dialogo-section{
    margin-top: 60px;
    width: 50vw;
    height: 70vh;
    background-color: #D9D9D9;
    border-radius: 10px;
}


.dialogo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

 
.dialogo-paula{
    border-radius: 7px;
    width: 14vw;
    height:6vh;
    background-color: gray;
}
 
.dialogo{
    margin-top: 30px;
    display: flex;
}